input[type="text"], input[type="password"], input[type="email"] {
    margin: 5px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    font-size: 14px;
    height: 36px;
    width: 280px;
    transition: all 0.25s ease-in-out;
}

input:focus {
    outline: none;
    scale: 105%;
    transition: all 0.25s ease-in-out;
}
