.search-link {
    border-bottom: 3px solid white;
}
.search-link a:link, a:visited {
    color: var(--main-text-color);
    text-decoration: none;
}

.search-link:hover {
    border-bottom: 3px solid var(--main-text-color);
    opacity: 80%;
    padding-bottom: 0px;
    transition: all 0.2s;
}

.err-label {
    color: transparent;
    display: block;
    height: 24px;
    font-size: 12px;
    position: relative;
    margin-bottom: 10px;
}

.active {
    color: red;
}

.user-link { 
    color:  black;
    font-weight: 800;
}
