button, .button-link {
    text-align: center;
    font-weight: 600;
    border-radius: 20px;
    padding: 10px 10px;
    border-style: none;
    transition: all 0.25s ease-in-out;
    margin: 5px;
}

.button-primary {
    background-color: var(--primary-color);
}

button:hover {
    opacity: 80%;
    transition: all 0.25s ease-in-out;
    scale: 105%;
}  

button:disabled {
    opacity: 80%;
}

button > a {
    text-decoration: none;
}

#searchbar button {
    background-color: var(--primary-color);
    height: 38px;
}

#button-group button {
    border-style: solid;
    background-color: var(--primary-color);
    border-radius: 20px;
    font-size: 18px;
}

#button-region {
    background-color: var(--secondary-color);
    padding: 0px 12px;
}

#button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    grid-column: span 1 / 12;
    color: var(--secondary-color);
}

#button-submit {
    background-color: var(--primary-color);
}

#signup-button {
    background-color: transparent;
}


.input-button button {
    position: absolute;
    z-index: 2;
    right: 50px;
    width: 36px;
    height: 36px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
 }

 .password-visible {
    background-image: url('static/visible.svg');
 }


 .password-invisible {
    background-image: url('static/no_visible.svg');
 }

 .button-danger {
    border: solid darkred;
    background-color: red;
    color: white;
    font-weight: 800;
 }


 .icon {
    width: 48px;
    height: 48px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
 }

 .edit-icon {
    background-image: url('/static/edit.svg');
 }

 .close-icon {
    background-image: url('/static/close.svg');
 }

 .plus-icon {
    background-image: url('/static/plus.svg');
 }

 .minus-icon {
    background-image: url('/static/minus.svg');
 }

 .delete-icon {
    background-image: url('/static/delete.svg');
 }
 
 .top-right {
    position: absolute;
    top: 0px;
    right: 10px;
    border-radius: 50%;
 }

 .top-left {
    position: absolute;
    top: 0px;
    left: 10px;
    border-radius: 50%;
    color: white;
 }