button {
    text-align: center;
    font-weight: 600;
    border-radius: 20px;
    padding: 10px 10px;
    border-style: none;
}

button:hover {
    opacity: 80%;
    transition: background-color 0.1s;
}  

button > a {
    text-decoration: none;
}

#searchbar button {
    background-color: var(--primary-color);
    height: 38px;
}

#button-group button {
    border-style: solid;
    border-radius: 20px;
    font-size: 18px;
}

#button-region {
    background-color: var(--secondary-color);
    padding: 0px 12px;
}

#button-group {
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
    grid-column: span 1 / 12;
    color: var(--secondary-color);
}

#login-button {
    margin-right: 30px;
    background-color: var(--primary-color);
}

#register-button {
    background-color: var(--secondary-color);
}