<div class="container album-preview">
    <a href="/albums/view/{{this.data.albumID}}">
        <img src="{{this.data.url}}">
        <h2>{{this.data.name}}</h2>
        <p>{{this.data.description}}</p>
    </a>
</div>