<div id="header">

</div>

<div class="container hidden">
    <h1 class="no-margin"></h1>
    <h2></h2>
    <div>
        <div class="input hidden">
            <label for="profile-edit-avatar">Загрузите фото</label>
            <input id="upload-photo" type="file" multiple></input>
            <label class="err-label"></label>
        </div>
    </div>
</div>

<div class="container scroll-container" id="photo-container">

</div>

<dialog class="fullscreen image-dialog">
    <div id="image-dialog">
        <img class="fullscreen">
    </div>
    <p class="top-left"></p>
    <label id="mobile-description"></label>
</dialog>