<div id="header">

</div>

<div class="container">
    <h1 class="no-margin">Создание альбома</h1>
    <div>
        <h2>Добавьте фотографии из поездки или о понравившемся месте</h2>
        <div class="input">
            <label for="profile-edit-avatar">Загрузите фото</label>
            <input id="upload-photo" type="file"></input>
            <label class="err-label"></label>
        </div>
    </div>
</div>

<div class="container" id="photo-container">

</div>

<dialog class="image-dialog">
    <div id="image-dialog">
        <img class="image-dialog-image">
    </div>
    <div id="image-content">
        <h2>Добавьте описание фото</h2>
        <textarea></textarea>
        <label for="make-main">Сделать обложкой</label>
        <input type="checkbox" id="make-main">
    </div>
</dialog>