<a href="/albums/view/{{this.data.albumID}}">
    <div class="container album-preview">
        <img src="{{this.data.url}}">
        <h2>{{this.data.name}}</h2>
        <p>{{this.data.description}}</p>
    </div>
</a>