<div id="header">

</div>


<div class="container" id="journey-info">
   {{#if this.journey.name}}
   <h1 class="h3-no-margin">{{this.journey.name}}</h1>
   {{else}}
   <h1 class="h3-no-margin">Редактирование поездки</h1>
   {{/if}}

   <div class="container">
     <h4>{{this.journey.description}}</h4>
</div>

<div class="container">
   <select class="custom-select" multiple="multiple" id="sight-select"></select>
</div>

<div class="container main" id="list-places">

</div>