<div id="header">

</div>

<div class="container" id="journey-info">
   <div class="container">
      {{#if this.isEdit}}
      <form method="post">
         <h2>Расскажите о поездке</h2>
         <div class="input">
            <label for="journey-name">Название</label>
            <input id="journey-name" class="form-input" maxlength="32" type="text" required
               value="{{this.journey.name}}"></input>
            <label class="err-label"></label>
         </div>
         <div class="input">
            <label for="journey-description">Описание</label>
            <textarea id="journey-description" class="form-input" type="text" cols="64"
               required>{{this.journey.description}}</textarea>
            <label class="err-label"></label>
         </div>
         <button id="button-submit" class="button-primary" type="submit">Изменить</button>
      </form>
      {{else}}
      <p>{{this.journey.description}}</p>
      {{#if this.isOwn}}
      <button id="button-edit-journey" class="button-primary" type="submit">Изменить</button>
      <button id="button-delete-journey" class="button-danger">Удалить</button>
      {{/if}}
      {{/if}}
   </div>
</div>
{{#if this.isEdit}}
<div class="container container-places">
   <h2>Список мест</h2>
   <select class="custom-select" multiple="multiple" id="sight-select" required></select>
</div>
{{/if}}


<div class="container main" id="list-places">

</div>

<dialog class="delete-dialog">
   <label>Вы действительно хотите удалить поездку?</label>
   <form method="dialog">
      <menu>
         <button class="button-danger" id="button-delete" type="submit">Да</button>
         <button class="cancel" type="reset">Отмена</button>
      </menu>
   </form>
</dialog>