<div id="form">
    <div id="logo-group">

    </div>  
    <h2 class="no-margin">Войти</h2>
    <form id="login-form" method="post">
        <div class="input">
            <label for="email">Электронная почта</label>
            <input id="email" type="email" class="form-input" required>
            <label class="err-label"></label>
        </div>
        <div class="input input-button">
            <label for="password">Пароль</label>
            <input id="password" type="password" class="form-input" required maxlength="32">
            <button id="password-visible"><img src="static/visible.svg"></button>
            <label class="err-label"></label>
        </div>
    </form>
</div>