<div id="main-search">
    <h1>Куда путь держим?</h1>
    <div id="underlined-block">
        <div id="underlined-links">
                
        </div>
        <form id="form-search" method="get">
                       
        </form>
    </div>    
</div>
