<div id="header">
</div>
<div id="notfound">
    <p>404 — страница не найдена</p>
    <h2>Где Тридевятое Царство — не покажут даже наши алгоритмы</h3>
    <h2>Но мы точно можем организовать Вам незабываемую поездку!</h3>
</div>