<div class="card">
    <img src="{{url}}">
    <div class="card-content">
        <p class="card-name">{{name}}</p>
        <p class="card-description">{{description}}</p>
        <div class="card-rating">
            <div class="rating-overlay">
                
            </div>
        </div>
    </div>
</div>
