<div class="card" id="card-{{data.id}}">
    <img src="{{data.url}}">
    <div class="card-content">
        <p class="card-name">{{data.name}}</p>
        <p class="card-description">{{data.description}}</p>
        <div class="card-rating">
        </div>
    </div>
</div>
