<div id="header">

</div>
<div class="profile-container">
    <div class="profile-info">
        <img src="/static/placeholder.jpg">
        <div class="details">
            <h2>{{this.userdata.username}}</h2>
            <p>{{this.userdata.status}}.</p>
        </div>
    </div>
    <button id="profile-edit-button">Редактировать профиль</button>
</div>
<div class="profile-container">
    <div id="search-links">
        <div class="search-link">
            <a href="#">Отзывы</a>
        </div>
        <div class="search-link">
            <a href="#">Поездки</a>
        </div>
    </div>
    <div class="profile-reviews">

    </div>
</div>
</div>