<div id="header">

</div>

<div class="container" id="profile-block">

</div>
<div class="container" id="content-block">
    <div id="underlined-block">
        <div id="underlined-links">

        </div>
    </div>
    <div class="profile-content">
    </div>
</div>
</div>

<dialog class="profile-dialog">
    <form method="post">
        <h2>Отредактируйте профиль</h2>
        <div class="input" id="nickname-input">
            <div class="input" id="nickname-input">
                <label for="profile-edit-nickname">Новый ник</label>
                <input id="profile-edit-nickname" class="form-input" maxlength="32" type="text"></input>
                <label class="err-label"></label>
            </div>
            <div class="input">
                <label for="profile-edit-password">Старый пароль</label>
                <input id="profile-edit-password" class="form-input password" type="text"></input>
                <label class="err-label"></label>
            </div>
            <div class="input">
                <label for="profile-edit-password-repeat">Новый пароль</label>
                <input id="profile-edit-password-repeat" class="form-input password" type="text"></input>
                <label class="err-label"></label>
            </div>
            <div class="input" id="status-input">
                <div class="input" id="status-input">
                    <label for="profile-edit-status">Новый статус</label>
                    <textarea id="profile-edit-status" class="form-input" type="text" cols="28"></textarea>
                </div>
                <div class="input">
                    <label for="profile-edit-avatar">Новый аватар</label>
                    <input id="profile-edit-avatar" type="file"></input>
                    <label class="err-label"></label>
                </div>
                <menu>
                    <button id="button-submit" class="button-primary" type="submit">Изменить</button>
                    <button id="button-cancel" class="cancel" type="reset">Отмена</button>
                </menu>
    </form>
</dialog>