<div class="survey-answer-preview">
    <div>
        <p>{{this.data.text}}</p>
    </div>
    <div>
        <p>{{this.data.userGrade}}</p>
    </div>
    <div>
        <p>{{this.data.averageGrade}}</p>
    </div>
</div>
