<div class="survey-answer-preview">
    <div>
        <p>{{this.data.text}}</p>
    </div>
    <div>
        <p>{{this.data.UserGrade}}</p>
    </div>
    <div>
        <p>{{this.data.AverageGrade}}</p>
    </div>
</div>
