h1 {
    text-align: center;
    font-size: min(5.5vw, 40px);
    line-height: 42px;
    letter-spacing: -1px;
    margin-top: 50px;
}

#underlined-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#underlined-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-weight: 500;
    font-size: min(4vw, 24px);
    flex-wrap: wrap;
}

#searchbar {
    display: flex;
    vertical-align: middle;
    align-items: center;
    margin-top: 20px;
    height: 60px;
    border-radius: 20px;
    gap: 10px;
}
