.card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    min-height: 200px;
    width: auto;
    border-radius: 20px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    zoom: 100%
}

.card img:hover {
    zoom: 110%;
    transition: 0.2s all;
}

.card-content {
    display: grid;
    grid-auto-flow: row;
    padding: 5px 10px 10px 10px;
}

.card-rating {
    position: relative;
    grid-row: 3;
    width: fit-content;
    align-self: flex-end;
    grid-template-columns: repeat(5, 1fr);
    fill: var(--primary-color);
}

.rating-overlay {
    background-color: white;
    mix-blend-mode:exclusion;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  

.card-name {
    margin: 0px 0px;
    font-weight: 800;
}

.card-description {
    margin: 5px 0px;
    font-size: 12px;
}
