.card {
    display: flex;
    position: relative;
    flex-flow: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    overflow: hidden;
}



.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    zoom: 100%
}

.card-content {
    display: grid;
    height: 100%;
    padding: 5px 10px 10px 10px;
}

.card-name {
    margin: 0px 0px;
    font-weight: 800;
}

.card-description {
    margin: 5px 0px;
    font-size: 12px;
}


.star {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    border-radius: 50%;
}

.filled {
    background-color: var(--primary-color);
}

.partial {
    background-image: linear-gradient(to right, var(--primary-color) 50%, transparent 50%);
}

.empty {
    background-color: transparent;
}