@import '../src/pages/PlacesPage/PlacesPage.css';
@import '../src/pages/NotFoundPage/NotFoundPage.css';

@font-face {
    font-family: 'Roboto';
    src: url('../src/assets/Roboto-Medium.ttf');
}

:root {
    --main-text-color: #161616;
    --primary-color: #8fc4b2;
    --primary-color-lighter: #9cd7c3;
    --secondary-color: #d9d9d9;
}

html, body {
    font-family: 'Roboto';
    max-width: 1260px;
    margin: auto;
    padding: 0 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}