.profile-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 30px;
  gap: 20px;
}

.profile-info img {
  width: max(100px, 80%);
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.review {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 2vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review img {
    width: max(100px, 80%);
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}  

.review-text {
  color: #555;
}

.rating {
  margin-top: 20px;
  display: flex;
  align-self: self-end;

  & span {
    margin-right: 20px;
    font-size: 24px;
    font-weight: 700;
  }
}

.review-textarea {
  width: 100%;
  height: 300px;
  resize: none;
}

.review-content {
  margin-left: 20px;
}

.journey-preview p, .album-preview p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.journey-preview img {
  object-fit: contain;
  max-height: 100%;
  padding: 5px;
  min-width: 64px;
  min-height: auto;
}
