@import './Link/Link.css';
@import '../../pages/LoginPage/LoginForm/LoginForm.css';
@import './Logo/Logo.css';
@import '../../pages/SignupPage/SignupPage.css';

#links { 
    font-weight: 600;
    font-size: 24px;
    padding: 10px;
    display: flex;
    justify-items: center;
    gap: 30px;
}

#header {
    display: flex;
    flex-wrap: wrap;
    grid-auto-flow: row;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}