#photo-container {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-bottom: 30px;
    gap: 20px;
    grid-auto-rows: 1fr;
}

.img-preview {
    max-width: minmax(300px, 1fr);
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;

    & img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

#image-dialog {
    position: relative;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-dialog-image {
    max-height: 75vh;
    max-width: min(600px, 60vw);
}

.fullscreen {
    background-color: black;
    width: 100vw;
    height: 105vh;
    object-fit: contain;
    border-radius: 0;

    & button:focus {
        outline: none;
    }
}

dialog button {
    margin-top: 10px;
}


.photo-main {
    border: 5px solid var(--primary-color);
}

.scroll-container {
    background-color: white;
    padding: 0;
    display: flex;
    max-height: 630px;
    overflow-y: hidden;
    scroll-snap-type: x;
    overflow-x: auto;
    align-items: center;
}


.scroll-image {
    flex: 0 0 100vw;
    object-fit: contain;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    text-align: center;

    & img {
        width: 100vw; /* Ensure image fits within the container width */
        max-height: 600px; /* Ensure image fits within the container height */
        object-fit: contain; /* Maintain aspect ratio without cropping */
    }

    & p {
        max-width: fit-content;
        overflow-wrap: break-word;
        color: black;
        font-size: 18px;
    }
}