<div class="card">
    <img src="{{url}}">
    <div class="card-content">
        <h3 class="card-name">{{name}}</h3>
        <h3 class="card-rating">{{rating}} / 5</h3>
        <p class="card-description">{{description}}</p>
    </div>
</div>